.idli-logo{
  align-items: center;
  color: red;
  width: 50px;
  height: 50px;
  background-color: #111213;
  border-radius: 50%;
  font-family:'Impact, Haettenschweiler'
}

.bottom-logo{
  font-size: 10px;
}